*{
    padding: 0;
    margin: 0;

}
/* ROW-1 CSS Start*/
.row-1{
      background-color: #35363A;
      height: 30px;
      
}
.top-section{
    width: 90%;
    margin: 0 auto;
}
.left-links{
    width: 60%;
    float: left;
    height: 100%;
}
.left-links ul{
      
}
.left-links ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    color: #fff;
    line-height: 30px;
}
.left-links ul li a{
    color: #fff;
    text-decoration: none;
}
.social-links{  
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}
.social-links i{
    color: #fff;
    line-height: 30px;
    border-right: 2px solid #000;
    padding-right: 8px;

}
/* ROW-1 CSS End*/

/* ROW-2 CSS Start*/
       
#row2{
    height:80px;
    width: 100%;
    background-color: #fff;
}
.header-section{
    width: 90%;
    margin: 0px auto;

}
.logo{ 
    width: 25%;
    float: left;
}
.logo img{
    height: 70px;
    margin-top: 10px;
}
.menu{
    width: 65%;
    float: right;
}
.menu ul{}
.menu ul li{
    line-height: 80px;
    float: left;
    text-align: center;
    width: 106px;
    list-style: none;
}
.menu ul li a{
    text-decoration:none;
    text-transform: uppercase;
    color: #455964;
}
.menu ul li i{
    height: 40px;
    width:40px;
    border: 2px solid #455964;
    border-radius: 100%;
    line-height: 40px;
}

/* ROW-2 CSS End*/

/* Row-3 CSS start*/

#row3{
    background-image: url(https://media.istockphoto.com/id/1434054606/photo/traveler-backpacker-girl-is-watching-hot-air-balloons-and-the-fairy-chimneys-at-cappadocia.jpg?s=1024x1024&w=is&k=20&c=ndYV39iBotv4DTsLGmlgxVnNyQ0cbFxO2sNFnY4c3mE=);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    height: 500px;
    width:100%;
    position: relative;
}
.overplay{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;

}
.banner-section{
    text-align: center;
    color: rgb(223, 46, 199);
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.banner-content{
}
.banner-content h1{
    text-transform: uppercase;
    font-size:50px;
    line-height:70px;
    padding-top: 100px;
}
.banner-content  p{
    font-size:18px;
    font-weight:600;
    margin-bottom: 40px;
}
.banner-button{}
.banner-button button{
    padding: 10px 20px;
    background:#999;
    border:2px solid #fff;
    color:#fff;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner-button button:hover{
    background-color: #455964;
    transition: 1s;
}


/*Row-3 CSS end*/

/*Row-4 CSS start*/
#row4{
    height: 80px;
    width: 100%;
    background-color: #234257;
}
.form-section{
    width: 90%;
    margin: 0 auto;
}
.text-part{
    width: 15%;
    float: left;
    text-transform: uppercase;
    padding-top: 10px; ;
}
.text-part h4{
    line-height: 32px;
}
.text-part h1{
    color: #fff;
}
.form-part{
    padding-top: 23px;
}
.form-part form{
    width: 80%;
    float: left;

}
.input-item{
    float: left;
    padding-top: 10px;
    width: 416px;
}
.input-item label{
    font-size:18px;
    font-weight: 500;
    color: grey;
    padding-right: 15px;
}
.input-item input[type="text"]{
    padding: 8px;
    width: 320px;
    color: gray;
}
.input-item input[type="date"]{
    padding: 8px;
    width: 320px;
}
.input-item i{
    color: gray;
    position: absolute;
    margin-left: -25px;
    line-height: 35px;
}
.form-part button{
    padding: 10px 20px;
   
    background: lightgray;
    border: none;
}

/*Row-4 CSS end*/

/*Row-5 CSS start*/
#row5{
    height: 500px;
    width:90%;
    background-color: #fff;

}
.offer-section{
    width: 90%;
    margin: 0 auto;
    
}
.offer-top{
    text-align: center;
    padding: 40px 0px;
}
.offer-top h2{}
.offer-top p{}
.offer-bottom{}
.all-offer-item{}
.offer-item{
    width: 230px;
    float: left;
    margin-left: 40px;
    border: 4px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
   background-color: pink;
    transition: 1s;
}
.offer-item:hover{
    transform: scale(1.2);
    background-color: #2D3E50;
    color:#fff;
}
.offer-item img{
    width: 100%;
    height: 150px;
}
.offer-text{
    width: 80%;
    float: left;
}
.offer-text h3{
    font-size: 14px;
    margin-left: 10px;
}
.offer-text h4{
    font-size: 12px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.offer-item :hover .offer-text h4{
    color: gray;
}
.offer-icon{
    width: 10%;
    float: left;
}
.offer-icon i{
    line-height: 50px;
}

/*Row-5 CSS end*/

