*{
    padding: 0;
    margin: 0;

}
/* ROW-1 CSS Start*/
.row-1{
      background-color: #35363A;
      height: 30px;
      
}
.top-section{
    width: 90%;
    margin: 0 auto;
}
.left-links{
    width: 60%;
    float: left;
    height: 100%;
}
.left-links ul{
      
}
.left-links ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    color: #fff;
    line-height: 30px;
}
.left-links ul li a{
    color: #fff;
    text-decoration: none;
}
.social-links{  
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}
.social-links i{
    color: #fff;
    line-height: 30px;
    border-right: 2px solid #000;
    padding-right: 8px;

}
/* ROW-1 CSS End*/

/* ROW-2 CSS Start*/
       
#row2{
    height:80px;
    width: 100%;
    background-color: #fff;
}
.header-section{
    width: 90%;
    margin: 0px auto;

}
.logo{ 
    width: 25%;
    float: left;
}
.logo img{
    height: 70px;
    margin-top: 10px;
}
.menu{
    width: 65%;
    float: right;
}
.menu ul{}
.menu ul li{
    line-height: 80px;
    float: left;
    text-align: center;
    width: 106px;
    list-style: none;
}
.menu ul li a{
    text-decoration:none;
    text-transform: uppercase;
    color: #455964;
}
.menu ul li i{
    height: 40px;
    width:40px;
    border: 2px solid #455964;
    border-radius: 100%;
    line-height: 40px;
}

/* ROW-2 CSS End*/

/* Row-3 CSS start*/

#row3{
    background-image: url(https://media.istockphoto.com/id/1434054606/photo/traveler-backpacker-girl-is-watching-hot-air-balloons-and-the-fairy-chimneys-at-cappadocia.jpg?s=1024x1024&w=is&k=20&c=ndYV39iBotv4DTsLGmlgxVnNyQ0cbFxO2sNFnY4c3mE=);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    height: 500px;
    width:100%;
    position: relative;
}
.overplay3{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    position: absolute;

}
.banner-section{
    text-align: center;
    color: rgb(223, 46, 199);
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.banner-content{
}
.banner-content h1{
    text-transform: uppercase;
    font-size:50px;
    line-height:70px;
    padding-top: 100px;
}
.banner-content  p{
    font-size:18px;
    font-weight:600;
    margin-bottom: 40px;
}
.banner-button{}
.banner-button button{
    padding: 10px 20px;
    background:#999;
    border:2px solid #fff;
    color:#fff;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner-button button:hover{
    background-color: #455964;
    transition: 1s;
}


/*Row-3 CSS end*/
